<div class="container">
  <div class="d-flex justify-content-between py-3">
    <h4>User</h4>
  </div>
  <form [formGroup]="userForm">
    <div class="row">
      <div class="form-group mb-3 col-md-4">
        <label for="image">Photo</label>
        <input type="file" class="form-control" (change)="addAvatarImage($event)" name="image" accept="image/*">
        <span class="text-danger" *ngIf="userForm.get('avatar')?.hasError('required')">
          Upload Profile photo
        </span>
        <div *ngIf="user.avatar">
          <p>{{userForm.get('avatar')?.value?.fileName}}</p>
          <img *ngIf="userForm.get('avatar')?.value?.imageUrl" [src]="userForm.get('avatar')?.value?.imageUrl" alt="Avatar" class="img-fluid" [width]="100" [height]="100">
          <button type="button" (click)="removeAvatar()" class="btn btn-danger mx-2">Close</button>
        </div>
      </div>
      <!-- Other form fields -->
      <div class="form-group mb-3 col-md-4">
        <label for="name">Name</label>
        <input type="text" formControlName="name" class="form-control" minlength="4">
        <span class="text-danger" *ngIf="userForm.get('name')?.hasError('required')">
          Enter your Name.
        </span>
      </div>
      <div class="form-group mb-3 col-md-4">
        <label for="userName">User Name</label>
        <input type="text" formControlName="userName" class="form-control">
        <span class="text-danger" *ngIf="userForm.get('userName')?.hasError('required')">
          Enter your User Name.
        </span>
      </div>
      <div class="form-group mb-3 col-md-4">
        <label for="email">Email</label>
        <input type="email" formControlName="email" class="form-control">
        <span class="text-danger" *ngIf="userForm.get('email')?.hasError('required')">
          Enter your Email.
        </span>
      </div>
      <div class="form-group mb-3 col-md-4">
        <label for="phoneNo">Phone Number</label>
        <input type="text" formControlName="phoneNo" class="form-control">
        <span class="text-danger" *ngIf="userForm.get('phoneNo')?.hasError('required')">
          Enter your Phone Number.
        </span>
      </div>
      <div class="form-group mb-3 col-md-4">
        <label for="gender">Gender</label>
        <div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" formControlName="gender" id="male" value="male">
            <label class="form-check-label" for="male">Male</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" formControlName="gender" id="female" value="female">
            <label class="form-check-label" for="female">Female</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" formControlName="gender" id="other" value="other">
            <label class="form-check-label" for="other">Other</label>
          </div>
        </div>
      </div>
      <div class="form-group mb-3 col-md-4">
        <label for="birthDate">Birth Date</label>
        <input type="date" formControlName="birthDate" class="form-control">
        <span class="text-danger" *ngIf="userForm.get('birthDate')?.hasError('required')">
          Select birth date
        </span>
      </div>
      <div class="form-group mb-3 col-md-4">
        <label for="language">Language</label>
        <select id="language" class="form-control" formControlName="language" [(ngModel)]="user.language" (change)="onLanguageChange(user)">
          <option value="" selected disabled hidden>Select Language</option>
          <option *ngFor="let language of languageList" [value]="language">{{ language }}</option>
          <option value="Other">Other</option>
        </select>  
      </div>
      <div class="form-group mb-3 col-md-4">
        <label for="address">Address</label>
        <textarea formControlName="address" class="form-control"></textarea>
        <span class="text-danger" *ngIf="userForm.get('address')?.hasError('required')">
          Enter your Address.
        </span>
      </div>
    </div>
    <br>
    <button *ngIf="!isEditMode" type="button" class="btn btn-primary" (click)="createUser()" [disabled]="!isFormChanged">Add New</button>    
    <button *ngIf="isEditMode" type="button" class="btn btn-primary" (click)="saveUser()" [disabled]="!isFormChanged">save</button>
    <button type="button" class="btn btn-danger mx-2" (click)="cancelUser()">Cancel</button>
  </form>
</div>
