th,
td{
  padding-right: 25px;
}
th{
position: relative;
    a{
        width: 100%;
        position: absolute;
        z-index: 111;
        text-align: right;
        top: 50%;
        right:0;
        transform: translateY(-50%);
        text-decoration: none;
        padding-right: 5px;
        span{
            position: relative;
            &::after{
                font-size: 24px;
            }            
        }
        .sortUp::after {
            content:'↑';            
        }
        .sortDown::after {
            content: "↓";
        }
    }
}


